{{> header}}
<div id="loginForm">
    <h1>Login</h1>
    <form action="#/login" method="POST">
        <label>Username</label>
        <input type="text" name="username" id="loginUsername">
        <label>Password</label>
        <input type="password" name="password" id="loginPassword">
        <input type="submit" value="Login">
    </form>
</div>
{{> footer}}
