<h1>Register</h1>
<p style="color:red;display:{{{errorDisplay}}}">Username or Password is incorect!</p>
<form method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username..."><br />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password..."><br />
    <label for="confirm-password">Confirm Password</label>
    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password..."><br />
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email..." /><br />
    <input type="submit" value="Register">
</form>