<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="text-success" style="text-align:center">Create Album</h3>
        <hr style="height: 2px" />
        <p style="color:red;display:{{{errorDisplay}}}">Incorect input!</p>
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Name...">
            </div>
            <div class="form-group">
                <label for="cover">Cover</label>
                <input type="text" class="form-control" id="cover" name="cover" placeholder="Cover...">
            </div>
            <hr />
            <div class="form-row">
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-success ">Create</button>
                </div>
                <div class="col-6 text-center">
                    <a class="btn btn-success" href="/Albums/All" role="button">Back to All</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>