<!DOCTYPE html>
<html>
<head>
    <title>Shopping List</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    {{#if error }}
        <h2 class="error-msg" style="text-align: center; color: blue">{{error}}</h2>
    {{/if}}
    {{{body}}}
</body>
</html>
