<h1>Register</h1>
<p style="color:red;display:{{{errorDisplay}}}">Username or Password is incorect!</p>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="text-success" style="text-align:center">Register</h3>
        <hr style="height: 2px" />
        <p style="color:red;display:{{{errorDisplay}}}">Username or Password is incorect!</p>
        <form method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Username...">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password...">
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Password...">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email...">
            </div>
            <div class="form-row text-center">
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>