<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>IRunes</h1>
    <div style="display:{{{guestMenu}}}">
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Users/Login">Login</a></li>
            <li><a href="/Users/Register">Register</a></li>
        </ul>
    </div>
    <div style="display:{{{userMenu}}}">
        <ul>
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="/Albums/All">Albums</a></li>
            <li><a href="/Users/Logout">Logout</a></li>
        </ul>
    </div>
    <hr />
    @RenderBody()
    <hr />
    <p><strong>CopyRight &copy; Sanity Design Studio. All rights reserved.</strong></p>
</body>
</html>