<h1>Delete Anime</h1>
<section>
    <form th:action="@{/delete/{id}(id=${anime.id})}" onsubmit="checkValue()" method="POST">
        <div>
            <label for="rating">Rating</label>
            <input type="text" id="rating" th:value="${anime.rating}" name="rating" th:disabled="disabled" />
            <label for="name">Name</label>
            <input type="text" id="name" th:value="${anime.name}" name="name" th:disabled="disabled" />
            <label for="description">Description</label>
            <input type="text" id="description" th:value="${anime.description}" name="quantity" th:disabled="disabled" />
            <label for="watched">Watched</label>
            <input type="checkbox" id="watched" name="watched" th:value="${anime.watched}" th:disabled="disabled" />
            <label for="watched" id="watched-label"></label>
            <button type="submit" class="accept">Delete</button>
            <button type="button" class="cancel" th:onclick="'location.href = \'' + @{/} + '\''">Cancel</button>
        </div>
    </form>
</section>

<script>
    //<![CDATA[
    function checkValue() {
        document.getElementById("watched").checked = true;
        document.getElementById("rating").disabled = false;
        document.getElementById("name").disabled = false;
        document.getElementById("description").disabled = false;
        document.getElementById("watched").disabled = false;
    }

    (function checkBox() {
        let checkbox = document.getElementById("watched");
        checkbox.checked = checkbox.value !== "not watched";
    })();
    //]]>
</script>