@model AnimeList.Models.Anime

@{
    ViewBag.Title = "Add New Anime";
}

<h1>Add New Anime</h1>

<section>
    @using (Html.BeginForm("Create", "Anime", FormMethod.Post, new { onsubmit = "checkValue()" }))
    {
        @Html.AntiForgeryToken()
    
        <div>
            <label for="rating">Rating</label>
            <input type="text" id="rating" name="rating" value="0">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" value="...">
            <label for="watched">Watched</label>
            <input type="checkbox" id="watched" value="not watched" name="watched" onclick="switchValue()">
            <label for="watched" id="watched-label"></label>
            <button type="submit" class="accept">Create</button>
            <button type="button" class="cancel" onclick="location.href='/';return false;">Cancel</button>
        </div>
    }
</section>

<script>
    function switchValue() {
        document.getElementById("watched").value =
            document.getElementById("watched").value === "watched" ? "not watched" : "watched";
    }

    function checkValue() {
        document.getElementById("watched").checked = true;
    }

    (function checkBox() {
        let checkbox = document.getElementById("watched");
        checkbox.checked = checkbox.value !== "not watched";
    })();
</script>