<div class="task-head">
    <h1 class="text-center text-torshia">@Model.Title</h1>
</div>
<hr class="hr-2 bg-torshia" />
<div class="task-main-data-holder w-75 mx-auto d-flex justify-content-between">
    <h3 class="text-center text-torshia">Level: @Model.Level</h3>
    <h3 class="text-center text-torshia">@Model.DueDate</h3>
</div>
<hr class="hr-2 bg-torshia" />
<div class="task-secondary-data-holder row d-flex justify-content-between">
    <div class="task-participants-holder col-md-5">
        <h3 class="text-center text-torshia">Participants</h3>
        <div class="task-tags-holder w-75 mx-auto">
            <h6 class="text-center text-torshia">
                @Model.ParticipantsAsString
            </h6>
        </div>
    </div>
    <div class="task-participants-holder col-md-5">
        <h3 class="text-center text-torshia">Affected Sectors</h3>
        <div class="task-tags-holder w-75 mx-auto">
            <h6 class="text-center text-torshia">Marketing, Finances, Internal, Management</h6>
        </div>
    </div>
</div>
<hr class="hr-2 bg-torshia" />
<h3 class="text-center text-torshia">Description</h3>
<div class="product-description-holder">
    <p class="text-center text-torshia mt-4">
        @Model.Description
    </p>
</div>
<hr class="hr-2 bg-torshia" />
<div class="button-holder d-flex justify-content-center">
    <a href="javascript:window.history.back()" class="btn bg-torshia text-white">Back</a>
</div>