<h1>Create Track</h1>
<hr />
<form method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name..." />
    <br />
    <label for="link">Link</label>
    <input type="text" name="link" id="link" placeholder="Link..." />
    <br />
    <label for="price">Price</label>
    <input type="text" name="price" id="price" placeholder="Price" />
    <br />
    <input type="submit" value="Create" />
</form>
<a href="/Albums/Details?id={{{albumId}}}">Back to Album</a>