<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6 text-center" style="padding:0">
        <h4><strong>Track Name: {{{name}}}</strong></h4>

        <h4><strong>Track Price: ${{{price}}}</strong></h4>
        <hr />
    </div>
    <div class="col-3">
    </div>
</div>
<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{{url}}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-3">
    </div>
</div>
<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6 text-center" style="padding:0">
        <hr />
        <a class="btn btn-success" href="/Albums/Details?id={{{albumId}}}" role="button">Back to Album</a>
    </div>
    <div class="col-3">
    </div>
</div>