<div class="row">
    <div class="col-md-6">
        <img src="{{{url}}}" alt="{{{name}}}" class="img-thumbnail">
    </div>
    <div class="col-md-6">
        <h2><strong>Tracks</strong></h2>
        <div style="display:{{{displayTracks}}}">
            <ul>
                {{{tracks}}}
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <h3><strong>Album Name: {{{name}}}</strong></h3>
        <h3><strong>Album Price: ${{{price}}}</strong></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-6 float-left" style="padding-left:0">
            <a class="btn btn-success float-left" href="/Tracks/Create?albumId={{{albumId}}}" role="button">Create Track</a>
        </div>
        <div class="col-md-6 float-right" style="padding-right:0">
            <a class="btn btn-success float-right" href="/Albums/All" role="button">Back to All</a>
        </div>
    </div>
</div>