<h1>Add Cat</h1>

<form action="/cats/add" method="post">
    <label id="name">Name:</label>
    <input type="text" id="name" name="name" /><br />

    <label id="age">Age:</label>
    <input type="number" min="0" max="30" id="age" name="age" /><br />

    <label id="breed">Breed:</label>
    <input type="text" id="breed" name="breed" /><br />

    <label id="imageUrl">ImageUrl:</label>
    <input type="text" id="imageUrl" name="imageUrl" /><br />

    <input type="submit" name="name" value="Add Cat" />
</form>