<a href="/">Back to home</a>
<br />
<form method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Cake name" />
    <br />
    <label for="price">Price</label>
    <input type="number" step="0.01" name="price" id="price" placeholder="Cake price" />
    <br />
    <label for="url">Picture URL</label>
    <input type="text" name="url" id="url" placeholder="Picture URL" />
    <br />
    <input type="submit" value="Add Cake" />
</form>

<div style="display:{{{display}}}">
    <p>{{{message}}}</p>
</div>