<h1>Register</h1>

<form method="post">
    <label for="fullName">Full Name</label>
    <input type="text" name="fullName" id="fullName" placeholder="Full Name"><br />
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username"><br />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password"><br />
    <label for="confirm-password">Confirm Password</label>
    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password"><br />
    <input type="submit" value="Register">
</form>