<div class="dropdown show collapse navbar-collapse d-flex justify-content-left eventures-bg-color" id="navbarNav">
    <a class=" dropdown-toggle nav-link nav-link-dark eventures-bg-color" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Orders
    </a>
    <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink">
        <a class="nav-link nav-link-dark" asp-controller="Orders" asp-action="All">All Orders</a>
    </div>
</div>