<h1 class="text-center">All Orders</h1>
<hr class="hr-2 bg-dark" />
<table class="table w-75 mx-auto table-hover">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-4">Order ID</th>
            <th class="col-md-2">Customer</th>
            <th class="col-md-2">Product</th>
            <th class="col-md-2">Ordered On</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row">
            <th class="col-md-1">1</th>
            <td class="col-md-4">c57019d0-a9bc-40f3-b73b-89fcf6a101fd</td>
            <td class="col-md-2">Pesho</td>
            <td class="col-md-2">Chushkopek</td>
            <td class="col-md-2">15:30 21/12/2012</td>
        </tr>
        <tr class="row">
            <th class="col-md-1">2</th>
            <td class="col-md-4">c57019d0-a9bc-40f3-b73b-89fcf6a101fd</td>
            <td class="col-md-2">admin</td>
            <td class="col-md-2">Injektoplqktor</td>
            <td class="col-md-2">15:30 21/12/2012</td>
        </tr>
    </tbody>
</table>